.ticketsDiv{
  position: relative;
  text-align: center;
  width: 90%;
  height: 32em;
  top: 4em;
  margin: auto;
  background-color: transparent;
  color: #DDD;
}
  
.ticketTable{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: solid 1px black;
}

.dataRow:hover{
  background-color: #152050 !important;
  color: white;
  cursor: pointer;
}

th{
  background-color: #151515;
}
td{
  text-align: center;
  border: solid 1px #151515;
  color: #AAA;
}

tr:nth-child(even){
  background-color: #151825;
}
tr:nth-child(odd){
  background-color: #152025;
}